@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&family=Poppins:wght@200&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Castoro+Titling&family=Shippori+Mincho:wght@500&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root
{
    --Beige : #FBE0C3;
    --Saumon : #FFBB98;
    --Gris : #7D8E95;
    --GrisFoncé : #344648;
    --White : #FFFFFF;
    --Turquoise : #1fbfb8;
    --Olive : #05716c;
    --Bleu : #1978a5;
    --BleuMarine : #031163;
}

body
{
    background-image: url(../img/fengShui.jpg);
}

ul
{
    position: fixed;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
    margin-top: -10%;
}

li
{
    padding: 1%;
}

li a 
{
    color: var(--BleuMarine);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    color: var(--White);
}

#titles
{
    margin-top: 10%;
    margin-left: 40%;
}

#mainTitle
{
    text-align: center;
    font-size: 9em;
    font-family: 'Tangerine', cursive;
    color: var(--BleuMarine);
    margin-top: 0%;
}

#titleIntro
{
    font-family: 'Tangerine', cursive;
    font-size: 2em;
    color: var(--Saumon);
    margin-top: 10%;
}

p
{
    font-family: 'Aboreto', cursive; 
    font-family: 'Crimson Text', serif;
}