@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&family=Poppins:wght@200&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Castoro+Titling&family=Shippori+Mincho:wght@500&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root
{
    --Beige : #FBE0C3;
    --Saumon : #FFBB98;
    --Gris : #7D8E95;
    --GrisFoncé : #344648;
    --White : #FFFFFF;
    --Turquoise : #1fbfb8;
    --Olive : #05716c;
    --Bleu : #1978a5;
    --BleuMarine : #031163;
}

body
{
    overflow-x: hidden;
}

section
{
    height: 1500px;
    width: 100%;
    background-image: url(../img/fengShui.jpg);
}

#titles
{
    margin-top: 0%;
    margin-left: 35%;
}

h1
{
    font-size: 9em;
    font-family: 'Tangerine', cursive;
    color: var(--BleuMarine);
    margin-top: 0%;
    
}

/*p
{
    font-family: 'Aboreto', cursive; 
    font-family: 'Crimson Text', serif;
}
*/
