@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&family=Poppins:wght@200&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Castoro+Titling&family=Shippori+Mincho:wght@500&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root
{
    --Turquoise : #1fbfb8;
    --Olive : #05716c;
    --Bleu : #1978a5;
    --BleuMarine : #031163;
}

h1
{
    color: var(--BleuMarine);
}