@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&family=Poppins:wght@200&family=Tangerine&display=swap');

:root
{
    --Olive : #829079;
    --Beige : #ede6b9;
    --Ambré : #b9925e;
}

body
{
    background-image: url(../img/backGround.jpg);
}

#titles
{
    margin-top: 10%;
    margin-left: 40%;
}

#mainTitle
{
    text-align: center;
    font-size: 9em;
    font-family: 'Tangerine', cursive;
    color: var(--Olive);
    margin-top: 0%;
}